body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #ffb6c1, #ff69b4);
      color: #fff;
      text-align: center;
      overflow-x: hidden;
    }

     h1 {
      font-size: 3em;
      margin-top: 50px;
      animation: fadeIn 2s ease;
    }

    h2{
      font-size: 1.2em;
      max-width: 600px;
      margin: 20px auto;
      line-height: 1.5;
      animation: fadeIn 3s ease;
    }

    p{
      font-size: 3em;
      margin-top: 50px;
      animation: fadeIn 2s ease;
    }