body {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #ffb6c1, #ff69b4);
      color: #fff;
      text-align: center;
      overflow-x: hidden;
      width: 100vw;
      height: 100vh;
    }

     h1 {
        font-size: 3em;
        margin-top: 70px;
        animation: fadeIn 4s ease;
    }

    h2{
      font-size: 1.2em;
        max-width: 600px;
        margin: 55px auto;
        line-height: 1.5;
        animation: fadeIn 4s ease;
          height: 127px;
    }

    p{
      font-size: 3em;
      margin-top: 50px;
      animation: fadeIn 2s ease;
    }

@keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.2); }
      100% { transform: scale(1); }
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
    }


.Foto{

display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 40px;
      margin-bottom: 40px;


}

.Foto img{
width: 310px;
      height: 280px;
      object-fit: cover;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
      transition: transform 0.3s;


}

.Foto img:hover{
transform: scale(1.1);

}

.Sim{

  width: 130px;
  height: 50px;
  background: white;
  transform: scale(1.05);
  margin-right: 30px;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  
}
.Sim:hover {
background: #ffe4ec;
transform: scale(1.05);
}

.Não{

 width: 130px;
  height: 50px;
  background: white;
  transform: scale(1.05);
  margin-right: 30px;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;

    }

    .Não:hover {
background: #ffe4ec;
transform: scale(1.05);

    }

    @media (max-width: 480px) {

    h1 {
        margin-top: 40px;
        font-size: 2rem; /* garante leitura */
    }

    h2 {
        font-size: 1rem;
        margin: 20px auto;
        height: auto;  /* evita quebrar no mobile */
    }

    p {
        font-size: 2rem;
        margin-top: 30px;
    }

    /* Botões maiores e centralizados no mobile */
    .Sim, .Não {
        width: 120px;
        height: 55px;
        margin: 10px 10px auto;
        font-size: 1.2rem;
        border-radius: 20px;
        border: none;
        background: #ffb6c1;
        transition: background 0.3s, transform 0.2s;
        

    }

.Sim:Hover{
background: #ffe4ec;
transform: scale(1.05);

}

    .Não:hover{

background: #ffe4ec;
transform: scale(1.05);

    }
}







    